fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv
requests
urllib3
numpy
pandas
scikit-learn
joblib
xgboost
opencv-python-headless
pytesseract
pdf2image
pillow
langchain
langchain-community
langchain-core
langchain-ollama
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
huggingface-hub
aiofiles
ujson