Django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-phonenumber-field[phonenumbers]
psycopg[binary]
redis
django-redis
python-dotenv
google-auth
requests
django-cors-headers
drf-spectacular